@import "tailwindcss";

@layer utilities {
  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  .printable-area {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }
  @page {
    margin: 1cm;
    size: auto;
  }
}

